.city-selector {
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 3;
	height: 100vh;
	width: 100vw;
	padding-top: 44px;
}
.city-search {
	background-color: #1ba9ba;
	height: 44px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.search-input-wrapper {
	flex: 1;
	padding-right: 18px;
}
.search-input {
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding: 0 14px 0 8px;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #fff;
}
.search-clean {
	position: absolute;
	width: 20px;
	right: 20px;
	color: #666;
}

.city-list {
	padding: 0 20px;
	height: 100%;
	overflow-y: scroll;
}
.city-case {
}
.city-ul {
}
.city-li {
	list-style: none;
	line-height: 36px;
	height: 36px;
}
.city-index {
	position: fixed;
	right: 0;
	top: 44px;
	line-height: 20px;
}
.city-index-item {
	display: block;
}

.city-suggest {
	position: fixed;
	left: 0;
	top: 44px;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 2;
}
