.city-selector {
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 3;
	min-height: 100vh;
	width: 100vw;
}
.city-search {
	background-color: #1ba9ba;
	height: 44px;
	display: flex;
	align-items: center;
	position: relative;
}
.search-input-wrapper {
	flex: 1;
	padding-right: 18px;
}
.search-input {
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding: 0 14px 0 8px;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #fff;
}
.search-clean {
	position: absolute;
	width: 20px;
	right: 20px;
	color: #666;
}
