.dete-selector {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 3;
	background-color: #f1ecec;
}
.date-selector-tables {
	padding: 12px;
}
.date-table {
	width: 100%;
	margin-bottom: 12px;
}
.date-table h5 {
	line-height: 36px;
	height: 36px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	background-color: #fff;
	border: 1px solid #cecece;
}
.weekend {
	color: #f9c60e;
}
