@import url(//at.alicdn.com/t/font_1918385_tckgb5qf31.css);
.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
body {
	min-width: 320px;
	max-width: 540px;
	font-size: 16px;
	margin: 0 auto;
	padding-top: 44px;
}
.hidden,
[hidden] {
	display: none !important;
}
::-webkit-input-placeholder {
	color: #c7c4d4;
}
button {
	-webkit-appearance: none;
}
